.navbar-default {
	background-color: #fff;
	border: none;
}
.navbar-default .navbar-brand {
	font-size: 44px;
	color:#000;
	font-weight: bold;
	padding-left: 0;
}
.navbar-collapse.collapse.navbar-right {
	padding-right: 0;
}
.navbar-default .navbar-nav {
	padding-top:10px;
	& > .active > a {
		background-color: #88C462;
		color:#fff;
	}
	& > li > a {
		font-size: 16px;
		padding-top: 8px;
		padding-bottom: 8px;
		&:hover {
			background-color: #88C462;
			color:#fff;
		}
	}
}
img {
	max-width: 100%;
	height: auto;
}
.row .bigpic {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
	position: relative;
	overflow: hidden;
}
@media (max-width: $screen-xs-max) {
	.row .bigpic {
		text-align: center;
		a {
			display: inline-block;
		}
	}
}
.form-control {
	height: 39px;
}
.index-title.btn-lg {
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 25px;
}
.search-line {
	padding-bottom: 25px;
	& > .input-group-btn > .btn {
		height: 39px;
	}
}
p {
	font-size: 15px;
}

.social-icos {
	.social_ico {
		display: block;
		float: left;
		width: 86px;
		margin-right: 5px;
		height: 86px;
		background: url(../img/social_ico2.gif) no-repeat 100% 100%;
		background-size: cover;
		&.vk { background-position: top  left; }
		&.inst { background-position: -176px; }
		&.google { background-position: -88px;	}
		&.fb { background-position: -264px; }
	}
	:last-child {
		margin-right: 0;
		margin-left:0;
	}
	&.smico {
		.social_ico {
			display: inline-block;
			width: 26px;
			margin-right: 2px;
			height: 26px;
			float: none;
			&.vk { background-position: top  left; }
			&.inst { background-position: -53px; }
			&.google { background-position: -27px;	}
			&.fb { background-position: -80px; }
		}
	}
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
	.social-icos {
		.social_ico {
			width: 69px;
			height: 69px;
			&.vk { background-position: top  left; }
			&.inst { background-position: -140px; }
			&.google { background-position: -71px; }
			&.fb { background-position: -211px; }
		}
		:last-child {
			margin-left: 1px;
		}
	}

}
@media (min-width: $screen-md-max){
	.main-big-pic { height: 390px;	}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.main-big-pic { height: 250px;	}
}
.address {
	line-height: 26px;
	height: 26px;
	top: -8px;
	position: relative;
	padding-right: 20px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}

.title3 {
	font-size: 24px;
	text-decoration: none;
	color:#333;
}

.title4 {
	font-size: 18px;
	text-decoration: none;
	color:#333;
}